# refer to: https://github.com/docker-library/docs/blob/master/mongo/stack.yml
# image: https://hub.docker.com/_/mysql

version: '3.8'

services:

  mysql:
    image: mysql:${DB_MYSQL_VERSION}
    container_name: ${APP_NAME}
    restart: always
    ports:
     - ${DB_MYSQL_PORT}:3306
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    volumes:
     - mysql_data:/var/lib/mysql
     - mysql_conf:/etc/mysql/conf.d
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_MYSQL_PASSWORD}

volumes:
  mysql_data:
  mysql_conf:
  
networks:
  default:
      name: "${APP_NAME}"
